body {
    background: linear-gradient(to bottom right, black, grey);
    color: lightgrey;
    font-family: 'Open Sans', sans-serif;
}

.jumbotron-fluid{

    background-color: black;
    color: lightgrey !important;

  
}

.carousel-item{
    margin: 0 auto;
}



p, h1{
    color: lightgrey;
    font-family: 'Open Sans', sans-serif !important;
}

img{
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#blue{
    width: 300px;
    height: 450px;
}



#curse{
    width: 700px;
    height: 450px;
}

#mother{
    width: 300px;
    height: 450px;
}

#killer{
    width: 700px;
    height: 300px;
}

#allSummer{
    width: 650px;
    height: 300px;
}
#winter{
    width: 650px;
    height: 300px;
}


