body {
    background: linear-gradient(to bottom right, black, grey);
    color: lightgrey;
    font-family: 'Open Sans', sans-serif;
}

p, h1{
    color: lightgrey;
    font-family: 'Open Sans', sans-serif;
}

img{
    width: 300px;
    height: 300px;
    overflow: hidden;
}

#blue{
    width: 300px;
    height: 400px;
}

#winter{
    width: 450px;
    height: 300px;
}

#curse{
    width: 500px;
    height: 300px;
}

#mother{
    width: 300px;
    height: 450px;
}

#killer{
    width: 500px;
    height: 300px;
}

